---
import ChargeSection from "../components/ChargeSection.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden scrollbar-thin scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <Section
        color="white"
        title="Disfrute de Tesla"
        subtitle="Concertar una prueba de conducción"
      >
        <video
          slot="background"
          class="object-center object-cover h-full w-full"
          autoplay
          muted
          loop
          src="/public_video.webm"></video>

        <div slot="footer">
          <a
            href="#"
            class={`border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm text-white
              rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors`}
            >Prueba de conducción</a
          >
        </div>
      </Section>
    </div>

    <div class="snap-center">
      <ChargeSection />
    </div>
  </main>
</Layout>
