<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-white text-sm underline">
        Concretar una prueba de coundición
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-4 flex mx-auto">
        <a
          href="#"
          class="border-[3px] border-gray-600 bg-gray-600 text-sm text-white
              rounded font-medium px-12 py-2 inline-block hover:border-gray-500 hover:bg-gray-500 transition-colors"
          >Explorar inventario</a
        >

        <a
          href="#"
          class="border-white bg-white backdrop-blur-sm text-sm text-black
              rounded font-medium px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors
              justify-center items-center"
          >Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/model-s.avif"
      alt="model s"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
